@import "tailwindcss";

.home-hero {
    background: linear-gradient(
      to right,
      rgba(9, 1, 48, 0.795),   /* darker LEFT */
      rgba(0, 0, 0, 0.2)    /* lighter RIGHT */
    ), url("assets/hero.png");
    background-size: cover;
    background-position: center center;
}