@import "tailwindcss";

.home-hero {
    background: linear-gradient(
      to right,
      rgba(9, 1, 48, 0.795),   /* darker LEFT */
      rgba(0, 0, 0, 0.1)    /* lighter RIGHT */
    ), url("https://plus.unsplash.com/premium_photo-1663045627496-441affafddf1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center center;
}